<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.lc.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.nf.lc.entity.Admin">
    <id column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="admin_number" jdbcType="VARCHAR" property="adminNumber" />
    <result column="admin_password" jdbcType="VARCHAR" property="adminPassword" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nf.lc.entity.Admin">
    insert into admin (admin_id, admin_name, admin_number, 
      admin_password)
    values (#{adminId,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{adminNumber,jdbcType=VARCHAR}, 
      #{adminPassword,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf.lc.entity.Admin">
    update admin
    set admin_name = #{adminName,jdbcType=VARCHAR},
      admin_number = #{adminNumber,jdbcType=VARCHAR},
      admin_password = #{adminPassword,jdbcType=VARCHAR}
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select admin_id, admin_name, admin_number, admin_password
    from admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select admin_id, admin_name, admin_number, admin_password
    from admin
  </select>
</mapper>