<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.lc.dao.NexusMapper">
  <resultMap id="BaseResultMap" type="com.nf.lc.entity.Nexus">
    <id column="nexus_id" jdbcType="INTEGER" property="nexusId" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="power_id" jdbcType="INTEGER" property="powerId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nexus
    where nexus_id = #{nexusId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nf.lc.entity.Nexus">
    insert into nexus (nexus_id, admin_id, power_id
      )
    values (#{nexusId,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, #{powerId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf.lc.entity.Nexus">
    update nexus
    set admin_id = #{adminId,jdbcType=INTEGER},
      power_id = #{powerId,jdbcType=INTEGER}
    where nexus_id = #{nexusId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select nexus_id, admin_id, power_id
    from nexus
    where nexus_id = #{nexusId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select nexus_id, admin_id, power_id
    from nexus
  </select>
</mapper>